<h1>${GENERAL_TITLE}</h1>
${NUM_TITLE} : ${NUM}<br>
${SUBTASK_TITLE} : ${SUBTASKS}<br>
${NAME_TITLE} : ${NAME}<br>
${LABEL_TITLE} : ${LABEL}<br>
${EXECUTANT_TITLE} : ${EXECUTANT}<br>
${MODALITY_TITLE} : ${MODALITY}<br>
${FREQUENCY_TITLE} : ${FREQUENCY}<br>
${FREQUENCYVALUE_TITLE} : ${FREQUENCYVALUE}<br>
${IMPORTANCE_TITLE} : ${IMPORTANCE}<br>
${DURATION_TITLE} : ${DURATION}<br>
${PURPOSE_TITLE} : ${PURPOSE}<br>
${DISPLAY_TITLE} : ${DISPLAY}<br>
${OBSERVATION_TITLE} : ${OBSERVATION}<br>
${MEDIA_TITLE} : ${MEDIA}<br>




<h1>${ORDO_TITLE}</h1>
${NECESSITE_TITLE} : ${OPTIONAL}<br>
${INTERRUPTIBLE_TITLE} : ${INTERRUPTIBLE}<br>
${DECLENCHEMENT_TITLE} : ${EVENTTRIGGER}<br>
${SCHEDULE_TITLE} : ${DECOMPOSITION}<br>
${UTILISATEUR_TITLE} : ${ACTORS}<br>
${SYSTEM_USER_TITLE} : ${ACTORSYSTEM}<br>
${PRECONDITION_TITLE} : ${PRECONDITION}<br>
${ITERATION_TITLE}: ${ITERATION}<br>

<h1>${POSTCONDITION__TITLE}</h1>
${EFFETSDEBORD_TITLE} : ${EFFETSDEBORD}<br>
${EVENT_TITLE} : ${GENERATEDEVENTS}<br>
