<h1>G&eacute;n&eacute;rales</h1>
Num&eacute;ro : ${NUM}<br>
Nom : ${NAME}<br>
Sous-taches : ${SUBTASKS}<br>
Dur&eacute;e : ${DURATION}<br>
But : ${PURPOSE}<br>
Multim&eacute;dia : ${MEDIA}<br>
Libell&eacute; : ${LABEL}<br>
Affichage : ${DISPLAY}<br>
Observation : ${OBSERVATION}<br>
Ex&eacute;cutant : ${EXECUTANT}<br>
Modalit&eacute; : ${MODALITY}<br>
Fr&eacute;quence : ${FREQUENCY}<br>
Valeur Fr&eacute;quence : ${FREQUENCYVALUE}<br>
Importance : ${IMPORTANCE}<br>

<h1>Ordonnancement</h1>
N&eacute;cessit&eacute; : Optionnelle <input name="necessiy" type="radio" #if (${OPTIONAL} == true) checked #end > Obligatoire <input name="necessiy" type="radio" #if (${OPTIONAL} == false) checked #end ><br>
Interruptible : Interruptible <input name="interruptible" type="radio" #if (${INTERRUPTIBLE} == true) checked #end > Non Interruptible <input name="interruptible" type="radio" #if (${INTERRUPTIBLE} == false) checked #end ><br>
D&eacute;clenchement : ${EVENTTRIGGER}<br>
D&eacute;composition : ${DECOMPOSITION}<br>
Acteur(s) : ${ACTORS}<br>
Pr&eacute;condition : ${PRECONDITION}<br>
It&eacute;ration : ${ITERATION}<br>

<h1>Actions</h1>
Ev&eacute;nement : ${GENERATEDEVENTS}<br>
Postcondition : ${POSTCONDITION}
